
h1{
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

p{
    text-align: justify;
    font-size: 20px;
}

.text-contents {
    text-align: center;
    border: 10px solid white;
    background-color: white;
    border-radius: 40px;
    padding: 20px;
    max-width: 50%;
}

.text-border {
    display: flex;
    justify-content: center;
}