body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h1 {
    margin-top: 50px;
    text-align: center;
    text-decoration: underline;
}

.form {
    background-color: #88D298;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px #000701;
    width: 100%;
    max-width: 500px;
    margin-top: 40px;
}

/* This wrapper will center the form */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 60px;
}

/* Input and textarea styling */
.form input,
.form textarea {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    padding: 10px;
}

/* Button styling */
.form button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    background-color: #f2c94c;
    border: none;
    cursor: pointer;
}

.form button:hover {
    background-color: goldenrod;
}